.card.shadow.p-4
  .card-title.flex.justify-between
    %h2 Sign up
  .card-body
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .form-inputs
        = f.input :email,
          required: false,
          input_html: { autocomplete: "email", class: 'my-4' }

        = f.input :password,
          required: false,
          input_html: { autocomplete: "new-password", class: 'my-4' }

        = f.input :password_confirmation,
          required: false,
          input_html: { autocomplete: "new-password", class: 'my-4' }

      .form-actions
        = f.button :submit, "Sign up", class: 'btn btn-soft btn-primary'

    = render "devise/shared/links"
