- p "Render Create Update Component"
= helpers.turbo_frame_tag :modal_form do
  = render ModalComponent.new do |modal|
    - if @icon
      - modal.with_icon do
        = render partial: "icons/#{@icon}", locals: { width: 28, height: 28, fill: '#576BEF' }
    - modal.with_title { @title.present? ? @title : "#{@record.persisted? ? 'Modifier' : 'Ajouter'} #{helpers.indefinite_article(@record.class)} #{@record.model_name.human }" }
    - modal.with_body do  
      = helpers.simple_form_for @record, url: @url, method: (@record.persisted? ? :patch : :post), data: @data do |f|
        = render partial: 'form', locals: { form: f }
