.card.shadow-lg.rounded-lg.p-6
  .card-title.flex.justify-between
    %h2 Se connecter
  .card-body
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        = f.input :email,
          required: false,
          input_html: { autocomplete: "email", class: 'my-4' }

        = f.input :password,
          required: false,
          input_html: { autocomplete: "current-password", class: 'my-4' }

      .form-actions
        = f.button :submit, "Connection", class: 'btn btn-soft btn-primary'

    = render "devise/shared/links"
